<!-- Container #1 (see wireframe) 
<md-toolbar layout="row" class="md-toolbar-tools">
	<md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()" aria-label="Show User List">
		<md-icon md-svg-icon="menu"></md-icon>
	</md-button>
	<h1>Angular Material - Starter App</h1>
</md-toolbar>

<!-- Container #2 
<div flex layout="row">

	<!-- Container #4 
	<md-content flex id="content" ng-controller="GridListCtrl as gridlist">
		<md-slider-container>
			<span>Year</span>
			<md-slider flex="" min="1624" max="2017" ng-model="gridlist.year" aria-label="year" id="year-slider" ng-mouseup="gridlist.refresh()">
			</md-slider>
			<md-input-container>
				<input flex="" type="number" ng-model="gridlist.year" aria-label="year" aria-controls="year-slider">
			</md-input-container>
		</md-slider-container>
		<!-- Custom UserDetails component
		<div flex="" ng-cloak="" class="gridListdemoDynamicTiles">
			<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px"
				md-gutter-gt-sm="4px">

				<md-grid-tile ng-repeat="tile in gridlist.tiles track by $index" ng-class="tile.background" ng-click="tile.showImageDialog($event, tile)">
					<img src="{{tile.image}}" style="height:140px;">
					<md-grid-tile-footer>
						<p>{{tile.title}}</p>
					</md-grid-tile-footer>
				</md-grid-tile>
			</md-grid-list>
		</div>
	</md-content>

</div>


	<md-input-container class="md-block" flex>
		<label>Search</label>
		<input ng-model="gridlist.searchText" ng-change="gridlist.search()" ng-model-options="{updateOn : 'change blur'}">
	</md-input-container>

-->
<sticky-loadingbar isloading="gridList.isLoadingDone"></sticky-loadingbar>


<md-toolbar class="md-hue-3" md-whiteframe="2">
	<div class="md-toolbar-tools">
		<div>
			<md-icon md-svg-icon="binoculars" style="width:36px;height:36px;"></md-icon>
		</div>
		<h4 layout-padding="">Monocular</h4>
		<div id="loadingcircle" ng-hide="gridList.isLoadingDone" layout-padding="">
			<md-progress-circular md-mode="indeterminate" md-theme="dark-yellow" md-diameter="20px">
			</md-progress-circular>
		</div>
		<div ng-hide="! gridList.isLoadingDone" style="width:36px;height:36px;">
		</div>
		<md-button class="md-icon-button" aria-label="Search" ng-click="gridList.searchTextChange()">
			<md-icon md-svg-icon="search"></md-icon>
		</md-button>
		<md-input-container class="md-accent" flex style="height:40px;">
			<label>&nbsp;</label>
			<input ng-model="gridList.searchText" placeholder="enter search" ng-change="gridList.searchTextChange()" ng-model-options="{updateOn : 'change blur'}">
		</md-input-container>
		<md-switch ng-model="gridList.isSearchByThemeModeOn" ng-change="gridList.modeChange()" aria-label="Mode">
			Mode: {{ gridList.modeDescription }}
		</md-switch>
		<md-button class="md-icon-button" aria-label="Open Settings" ng-click="gridList.showSettings($event)">
			<md-icon md-svg-icon="settings"></md-icon>
		</md-button>
		<md-menu>
			<md-button aria-label="Sign-in" class="md-fab md-mini md-primary" ng-click="gridList.openMenu($mdOpenMenu, $event)" ng-mouseenter="gridList.isOpen=true"
				ng-mouseleave="gridList.isOpen=false">
				<md-tooltip md-direction="top" md-visible="gridList.isOpen">{{gridList.account.tooltip}}</md-tooltip>
				{{gridList.account.username}}
				<md-icon md-svg-src="{{gridList.authItems.anonymous.icon}}" md-menu-align-target="" ng-show="gridList.authItems.anonymous.show">
				</md-icon>
				</md-button>
				<md-menu-content width="4">
					<md-menu-item ng-show="gridList.authItems.google.show">
						<md-button ng-click="gridList.authEvent(gridList.authItems.google)">
							<md-icon md-svg-src="{{gridList.authItems.google.icon}}" md-menu-align-target=""></md-icon>
							Sign in using Google.
						</md-button>
					</md-menu-item>
					<md-menu-item ng-show="gridList.authItems.signout.show">
						<md-button ng-click="gridList.authEvent(gridList.authItems.signout)">
							<md-icon md-svg-src="{{gridList.authItems.signout.icon}}"></md-icon>
							Sign-out
						</md-button>
					</md-menu-item>
				</md-menu-content>
		</md-menu>
	</div>

</md-toolbar>

<md-content flex layout-padding="" id="inf-wrapper">

	<!--
	<div class="row" style="padding-top:25px;padding-bottom:25px;">
		<div class="col-lg-12">
			<div class="input-group">
				<span class="input-group-btn">
        <button class="btn btn-default" type="button">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
				</span>

				<input type="text" class="form-control" placeholder="Search for..." ng-model="gridList.searchText" ng-change="gridList.searchTextChange()"
					ng-model-options="{updateOn : 'change blur'}">

			</div>
		</div>
	</div>
	<div>
		<button ng-click="gridList.getPics()"></button>
	</div>

	<div id="OGimage">
		<img class="image" src="{{gridList.fullImageUrl}}" alt="Picture" >
	</div>
	-->


	<div infinite-scroll="gridList.loadMore()" infinite-scroll-distance="2" infinite-scroll-container="'#inf-wrapper'" >
		<div masonry masonry-options="{ gutter: 20 }">
			<div class="masonry-brick" ng-repeat="pic in gridList.pics" style="margin-bottom: 20px;">

				<img class="image" ng-click="gridList.showViewer($event, pic)" ng-src="{{ pic.cropped }}" data-original="{{pic.fullImageUrl}}"
					alt="{{pic.title}}" pic-metadata="{{pic.data}}" style="width:280px;height:{{pic.actualHeight}};border-radius:10px;">

					<!--
				<pic-viewer pic="pic" pic-data="pic.data" detailurl="pic.data.detailUrl"></pic-viewer>
				-->
			</div>
		</div>
		<div layout="row" layout-align="space-around center" style="width:100%;" ng-show="gridList.isLoadingDone" layout-padding="">
			<md-progress-circular md-mode="indeterminate" md-theme="dark-yellow">
			</md-progress-circular>
		</div>
	</div>
</md-content>

<!--
<div id="gallery-wrap" style="height:900px;">
	<ul class="dynamic-grid" angular-grid="gridList.pics" ag-grid-width="300" ag-gutter-size="15" ag-id="gallery" ag-refresh-on-img-load="false"
 ag-infinite-scroll="gridList.loadMore()" >
		<li data-ng-repeat="pic in gridList.pics" class="grid" ng-click="pic.showImageDetail(pic)">
			<div>
				<h3>{{pic.title}}</h3>
				<!--
			<img src="{{pic.fullImageUrl}}" class="grid-img" data-actual-width="{{pic.actualWidth}}" data-actual-height="{{pic.actualHeight}}"
			/>
			
			</div>
		</li>
	</ul>
	</div>
</div>
-->