<md-dialog aria-label="Settings" flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="settingsCtrl.cancel()">
                    <md-icon md-svg-icon="cancel" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout-padding="">
                <md-subheader class="md-no-sticky">Selected Theme:</md-subheader>
                <form>
                    <div layout="row" flex layout-padding="">
                        <div flex="75">
                            <md-autocomplete md-selected-item="settingsCtrl.selectedItem" md-search-text="settingsCtrl.searchText" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                md-items="item in settingsCtrl.querySearch(settingsCtrl.searchText) | orderBy:'name'" md-item-text="item.name" placeholder="Search..."
                                md-selected-item-change="settingsCtrl.selectedItemChange(item)" md-min-length="0">
                                <md-item-template>
                                    <span class="highlight" md-highlight-text="settingsCtrl.searchText" md-highlight-flags="i">{{item.name}}</span>
                                    <md-icon ng-show="item.isDefault" md-svg-icon="bookmark"></md-icon>
                                    <span ng-show="item.isDefault"><i>Default</i></span>
                                </md-item-template>
                                <md-not-found>
                                    No themes matching "{{ctrl.searchText}}" were found.
                                </md-not-found>
                                </md-autocomplete>
                        </div>
                        <div>
                            <md-button class="md-icon-button" aria-label="Edit" ng-click="settingsCtrl.editTheme()">
                                <md-icon md-svg-icon="edit"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-warn" aria-label="Delete" ng-click="settingsCtrl.deleteTheme()">
                                <md-icon md-svg-icon="delete"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Add" ng-click="settingsCtrl.addTheme()">
                                <md-icon md-svg-icon="add"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <md-card ng-show="settingsCtrl.isEditing || settingsCtrl.isNew" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
                        <md-card-title>
                            <md-card-title-text>
                                <span  ng-show="settingsCtrl.isEditing" class="md-headline">Edit theme:</span>
                                <span  ng-show="settingsCtrl.isNew" class="md-headline">Create theme:</span>
                            </md-card-title-text>
                        </md-card-title>
                        <div layout="row" flex>
                            <md-input-container class="md-block md-accent" flex="100" style="height:40px;">
                                <label>Theme name</label>
                                <input ng-model="settingsCtrl.newTheme.name" maxlength="120">
                            </md-input-container>
                        </div>
                        <div layout="row" flex>
                            <md-input-container class="md-accent" flex style="height:40px;">
                                <label>Search term</label>
                                <input ng-model="settingsCtrl.newThemeItem.search" maxlength="120" ng-change="settingsCtrl.newThemeItemSearchChange()" ng-model-options="{updateOn : 'change blur'}">

                                <div ng-show="settingsCtrl.isSearchRun && !settingsCtrl.isResultsForNewThemeItem">
                                    <div style="color:red;">
                                        No results found for that theme item!
                                    </div>
                                </div>
                                <div ng-show="settingsCtrl.isSearchRun && settingsCtrl.isResultsForNewThemeItem">
                                    <div style="color:mediumspringgreen;">
                                        {{settingsCtrl.newThemeItemResultCount}} results found for that theme item.
                                    </div>
                                </div>
                            </md-input-container>
                            <div>
                                <md-button ng-disabled="! settingsCtrl.isSearchRun && ! settingsCtrl.isResultsForNewThemeItem" class="md-raised md-accent"
                                    aria-label="Add" ng-click="settingsCtrl.addThemeItem()" style="height:40px;">
                                    <md-icon md-svg-icon="add"></md-icon>
                                    </md-button>
                            </div>
                            <div id="loadingcircle" ng-hide="settingsCtrl.isLoadingDone" layout-padding="">
                                <md-progress-circular md-mode="indeterminate" md-theme="dark-yellow" md-diameter="20px">
                                </md-progress-circular>
                            </div>
                            <div ng-hide="! settingsCtrl.isLoadingDone" style="width:36px;height:36px;">
                            </div>
                        </div>
                        <div layout="row" flex layout-padding="">
                            <div>
                                <md-chips class="custom-chips" ng-model="settingsCtrl.newTheme.items" readonly="true" md-removable="true">
                                    <md-chip-template>
                                        <span>
          <strong>{{$chip.search}}</strong>
        </span>
                                    </md-chip-template>

                                </md-chips>
                            </div>
                            <div>
                                <md-button ng-disabled="settingsCtrl.newTheme.items.length < 1 " class="md-raised md-accent" aria-label="Add" ng-click="settingsCtrl.saveTheme()"
                                    ng-show="settingsCtrl.newTheme.items.length > 0" style="height:40px;">
                                    <span ng-show="settingsCtrl.isNew">Create theme</span>
                                    <span ng-show="settingsCtrl.isEditing">Save theme</span>
                                    </md-button>
                            </div>
                        </div>
                    </md-card>
                </form>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="settingsCtrl.cancel()">
                Cancel
            </md-button>
            <md-button ng-click="settingsCtrl.save()">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>