<md-dialog aria-label="Settings" flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="settingsCtrl.cancel()">
                    <md-icon md-svg-icon="cancel" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout-padding="">
                <md-subheader class="md-no-sticky">Selected Theme:</md-subheader>
                <form>
                    <md-autocomplete md-selected-item="settingsCtrl.selectedItem" md-search-text="settingsCtrl.searchText" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                        md-items="item in settingsCtrl.themes | filter:settingsCtrl.searchText" md-item-text="item.name" placeholder="Search..."
                        md-selected-item-change="settingsCtrl.selectedItemChange(item)" md-min-length="2">
                        <md-item-template>
                            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            No themes matching "{{ctrl.searchText}}" were found.
                        </md-not-found>
                        </md-autocomplete>
                        <br>
                        <br>
                        <label layout-padding="">Don't see a theme you're interested in? Try creating a new one:</label>
                        <md-input-container class="md-block md-accent" flex="100" style="height:40px;">
                            <label>Theme name</label>
                            <input ng-model="settingsCtrl.newTheme.name" maxlength="120">
                        </md-input-container>
                        <div layout="row" flex >
                            <md-input-container class="md-accent" flex style="height:40px;">
                                <label>Theme item search term....</label>
                                <input ng-model="settingsCtrl.newThemeItem.search" maxlength="20" ng-change="settingsCtrl.newThemeItemSearchChange()" ng-model-options="{updateOn : 'change blur'}">

                                <div ng-show="settingsCtrl.isSearchRun && !settingsCtrl.isResultsForNewThemeItem">
                                    <div style="color:red;">
                                        No results found for that theme item!
                                    </div>
                                </div>
                                <div ng-show="settingsCtrl.isSearchRun && settingsCtrl.isResultsForNewThemeItem">
                                    <div style="color:mediumspringgreen;">
                                        {{settingsCtrl.newTopicResultCount}} results found for that theme item.
                                    </div>
                                </div>
                            </md-input-container>

                        </div>
                        <div layout="row" flex layout-padding="">
                            <div>
                                <md-chips class="custom-chips" ng-model="settingsCtrl.newTheme.items" readonly="true" md-removable="true">
                                    <md-chip-template>
                                        <span>
          <strong>{{$chip.search}}</strong>
        </span>
                                    </md-chip-template>

                                </md-chips>
                            </div>
                            <div>
                                <md-button ng-disabled="settingsCtrl.newTheme.items.length < 1 " class="md-raised md-accent" aria-label="Add" ng-click="settingsCtrl.createTheme()" style="height:40px;">
                                    Create theme
                                </md-button>
                            </div>
                        </div>
                </form>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="settingsCtrl.cancel()">
                Cancel
            </md-button>
            <md-button ng-click="settingsCtrl.save()">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>