<md-toolbar class="md-hue-3" md-whiteframe="2">
    <div class="md-toolbar-tools">
        <div>
            <md-icon md-svg-icon="binoculars" style="width:36px;height:36px;"></md-icon>
        </div>
        <h4 layout-padding="">Monocular</h4>
    </div>

</md-toolbar>

<md-content flex layout-padding="">
    <md-subheader class="md-no-sticky">New themes</md-subheader>
    <md-button class="md-accent" ng-click="admin.addToDefaults()">
        Add Selected
    </md-button>
    <md-list flex="">
        <md-list-item ng-repeat="value in admin.submittedThemes">
            <md-checkbox ng-model="value.selected"></md-checkbox>
            <p>{{value.name}}</p>
            <md-icon class="md-secondary" ng-click="admin.deleteTheme(value)" aria-label="delete" md-svg-icon="delete"></md-icon>
        </md-list-item>
    </md-list>

    <md-divider></md-divider>
</md-content>