<!-- a block container is required 
<div layout="row">
	<div flex="100">
		<img class="image" src="{{imageViewer.fullImageUrl}}" alt="Picture" style="height:500px;">
	</div>
	<div flex="100">
		<md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{imageViewer.title}}</span>
					<span class="md-subhead">Extra Large</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row" layout-align="space-between">


				<md-card-actions layout="column">
					<md-button class="md-icon-button" aria-label="Transcribe" ng-click="imageViewer.transcribe()">
						<md-icon md-svg-icon="pen"></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Link">
						<md-icon md-svg-icon="open-book"></md-icon>
					</md-button>
				</md-card-actions>
				<div ng-show="imageViewer.isTranscribe">
					<md-input-container class="md-block">
						<label>Transcription</label>
						<textarea ng-model="imageViewer.transcription" rows="5" md-select-on-focus=""></textarea>
					</md-input-container>
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>
-->

<!-- allowOverflow auto-attached by option: west__showOverflowOnHover = true 
<div layout="row">
	<div class="ui-layout-west">
		This is the west pane, closable, slidable and resizable
		<div>
			<img class="image" src="{{imageViewer.fullImageUrl}}" alt="Picture" style="height:500px;">
		</div>

	</div>

	<div class="ui-layout-east">
		This is the east pane, closable, slidable and resizable
		<div>
			<md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{imageViewer.title}}</span>
						<span class="md-subhead">Extra Large</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content layout="row" layout-align="space-between">


					<md-card-actions layout="column">
						<md-button class="md-icon-button" aria-label="Transcribe" ng-click="imageViewer.transcribe()">
							<md-icon md-svg-icon="pen"></md-icon>
						</md-button>
						<md-button class="md-icon-button" aria-label="Link">
							<md-icon md-svg-icon="open-book"></md-icon>
						</md-button>
					</md-card-actions>
					<div ng-show="imageViewer.isTranscribe">
						<md-input-container class="md-block">
							<label>Transcription</label>
							<textarea ng-model="imageViewer.transcription" rows="5" md-select-on-focus=""></textarea>
						</md-input-container>
					</div>
				</md-card-content>
			</md-card>
		</div>
	</div>

	<div class="ui-layout-center">
		This CENTER pane auto-sizes to fit the space <i>between</i> the 'border-panes'
	</div>

</div>
-->

<div ui-layout>

	<div ui-layout-container>
		<div ui-layout="{flow : 'column'}">
			<div ui-layout-container>
				<div id="OGimage">
					<img class="image" src="{{imageViewer.fullImageUrl}}" alt="Picture" style="height:500px;">
				</div>
			</div>

			<div ui-layout-container>
				<div class="panel panel-default">
					<div class="panel-heading">{{imageViewer.title}}</div>
					<div class="panel-body">
						Transcribe
						<form method="post">
							<textarea ui-tinymce ng-model="imageViewer.tinymceModel"></textarea>
						</form>
					</div>
				</div>
<!--
				<md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">{{imageViewer.title}}</span>
							<span class="md-subhead">Extra Large</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content layout="row" layout-align="space-between">

						<div flex="100">
							<md-input-container class="md-block">
								<label>Transcription</label>
								<textarea ng-model="imageViewer.transcription" rows="10" md-select-on-focus=""></textarea>
							</md-input-container>
						</div>
						<md-card-actions layout="column">
							<md-button class="md-icon-button" aria-label="Transcribe" ng-click="imageViewer.transcribe()">
								<md-icon md-svg-icon="pen"></md-icon>
							</md-button>
							<md-button class="md-icon-button" aria-label="Link">
								<md-icon md-svg-icon="open-book"></md-icon>
							</md-button>
						</md-card-actions>
					</md-card-content>
					
				</md-card>
				-->
			</div>
		</div>
	</div>

</div>